* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background-color:aquamarine;
}
.container{
  width:450px;
  background-color: white;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}
.container h2{
  font-weight:500;
  font-size: 25px;
  border-bottom:1px solid #ccc;
  padding:18px 25px;
}
.content{
  margin:25px 20px 30px;
}
.word{
  font-size:33px;
  font-weight:500;
  text-align:center;
  text-transform: uppercase;
  letter-spacing:24px;
  margin-right:-24px;
}
